<%= form_for @todo do |u| %>
  <p>
    <%= u.label @todo.text %><br />
    <%= u.text_field @todo.text %>
  </p>
  <p>
    <!-- <%= u.label Time.now %><br/> -->
    
  </p>
  <p>
    <%= u.submit %>
  </p>
<% end %>