<h1>Create a Task</h1>

<%= render partial: 'todos/form' %>


<h1>Todo List</h1>
<table class="table">
  <tr>
    <td>#</td>
    <td>Task</td>
    <td>Due date</td>
    <td>Action</td>
  </tr>

  <% @todos.each do |todo| %>
  <tr>
    <td><%=todo.id %></td>
    <td><%= link_to todo.text, todo_path(todo) %></td>
    <td><%=todo.date %></td>
    <td><input type="checkbox" name="complition_date" value ="done">
      <%= link_to "send sms", send_text_path(todo), method: :post%>
      <%= link_to "edit", edit_todo_path(todo) %>
      <%= link_to "delete", todo_path(todo), method: :delete, data: {confirm: "Really delete the task?"}  %>
    </td>  

  </tr>
   
  <% end %>
</ul>
<%= link_to "Create a Task", new_todo_path %>